@import url(c:\Users\Hp\Desktop\FigmaProject\assets\sass\media.css);
body {
  background-image: url("../img/Gradient color.png");
  background-position: top;
  background-size: cover;
  background-color: black;
}

.slider {
  width: 100%;
  height: auto;
  border-bottom: 2px solid wheat;
}

header {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

nav {
  border-bottom: 1px solid white;
}

.main {
  width: 100%;
}

.main .left {
  padding-top: 6rem;
}

.main .left h1 {
  color: white;
  font-size: 3.3rem;
}

.main .left h2 {
  color: 3rem;
  color: white;
}

.main .left p {
  color: white;
  margin-top: 1rem;
}

.main .left button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 7px 28px;
}

.second {
  width: 100%;
  border-bottom: 1px solid white;
}

.third {
  width: 100%;
  border-bottom: 1px solid white;
}

.third .text {
  margin: 2rem 0;
}

.third .text h1 {
  color: white;
  font-size: 3rem;
}

.third .item1 {
  color: white;
  margin-bottom: 4rem;
}

.third .item1 h1 {
  font-size: 3rem;
}

.four {
  border-bottom: 1px solid bottom;
  width: 100%;
  width: 100%;
  color: white;
}

.four .lft h1 {
  font-size: 3.4rem;
  margin: 1.7rem 0;
}

.four .right-icons span {
  font-size: 1.1rem;
}

.four .right-icons button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 20px;
  margin-left: .4rem;
  font-size: 1.1rem;
}

.boxes {
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
}

.boxes .item1 {
  border: 1px solid white;
  margin-top: 1.5rem;
  padding: 0 0 10px 20px;
}

.boxes .item1 .photo {
  width: 100%;
  height: 70%;
}

.boxes .item1 h1 {
  color: white;
  font-size: 1.3rem;
  margin-top: .6rem;
}

.boxes .item1 span {
  color: white;
}

.boxes .item1 .btn-1 {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 15px;
  color: white;
  margin-top: .8rem;
}

.boxes .item1 .btn-2 {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 5px 15px;
  color: white;
  margin-left: .1rem;
  background: linear-gradient(99.74deg, #06DBAC 5.23%, #BD00FF 92.7%);
}

.foot {
  padding-top: 2rem;
}

.foot .social-media .bottom {
  margin-top: .8rem;
}

.foot .social-media .bottom p {
  margin-right: 1rem;
}

.foot .social-media h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: .9rem;
}

.foot .social-media a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-right: 2px solid white;
  padding: 0 18px;
}

.foot .social-media a:nth-child(5) {
  border: none !important;
}

.foot .social-media .zero {
  padding-left: 0vh;
}

.foot .rght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.foot .rght a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

.foot .rght p {
  color: white;
  font-size: 1.3rem;
  margin: 0 0 0 .8rem;
}
/*# sourceMappingURL=style.css.map */