body{
    background-image: url("../img/Gradient\ color.png");
    background-position: top;
    background-size: cover;
    background-color: black;
}
// Header
.slider{
    width: 100%;
    height: auto;
}
header{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
}
nav{
    border-bottom: 1px solid white;
}

// Main section
.main{
    width: 100%;
    
        .left{
         padding-top: 6rem;
        h1{
            color: white;
            font-size: 3.3rem;
         }
         h2{
             color: 3rem;
             color: white;
         }
         p{
          color: white;
          margin-top:1rem ;
          font-size: 1.1rem;
         }
         button{
             color: white;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50px;
            padding: 7px 28px;
            }
      }
}

// Second section
.second{
    color: white;
    padding-top: 3rem;
    width: 100%;
   h1{
       font-size: 3.5rem;
       padding-bottom: .5rem;
   }
   p{
       font-size: 1.1rem;
       line-height: 1.7rem;
   }
}
 
// Third section
.third{
    width: 100%;
    .text{
      margin: 2rem 0;
          h1{
     color: white;
     font-size:3rem;
      }
    }
    
    .item1{
        color: white;
        margin-bottom: 4rem;
       h1{
         font-size: 3rem;
       }
   }
}

// Fourth section
.four{
    width: 100%;
    .lft{
        h1{
            font-size: 3.4rem;
            margin: 1.7rem 0;
        }
    }
width: 100%;
color: white;
.right-icons{
    span{
     font-size: 1.1rem;
    }
    button{
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50px;
        padding: 5px 20px;
        margin-left: .4rem;
        font-size: 1.1rem;
    }
}
}

// Box items
.boxes{
    width: 100%;
    padding-bottom: 3rem;
    .item1{
       border: 1px solid white;
       margin-top: 1.5rem;
       padding: 0 0 10px 20px ;
       .photo{
       width: 100%;
       height: 70%;
       }
       h1{
        color: white;
        font-size:1.3rem ;
        margin-top: .6rem;
       }
       span{
           color: white;
       }
       .btn-1{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50px;
        padding: 5px 15px;
        color: white;
        margin-top: .8rem;
       }
       .btn-2{
        border: 1px solid transparent;
        border-radius: 50px;
        padding: 5px 15px;
        color: rgb(255, 255, 255);
        margin-left: .1rem;
        background: linear-gradient(99.74deg, #06DBAC 5.23%, #BD00FF 92.7%);
       }
    }
}

// Footer
.foot{
    padding-top: 2rem;
    .social-media{
        width: 100%;
        .bottom{
            margin-top: .8rem;
            p{
           margin-right: 1rem;
            }
        }
        h1{
            font-size: 3rem;
            color: white;
            margin-bottom: .9rem;
        }
        a{
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            border-right: 2px solid white;
            padding: 0 18px;
            &:nth-child(5){
                border: none !important;
            }
            
        }
        .zero{
            padding-left: 0vh;
        }
    }
    .rght{
        width: 100%;
        display: flex;
       flex-direction: column;
        align-items: flex-end;
        a{
            color: #fff;
            font-size: 1.3rem;
            text-decoration: none;
        }
    }
}





// 768 TO 992 MEDIUM DEVICES
@media (min-width:768px) and (max-width:992px) {
    .main{
        width: 100%;
            .left{
             padding:4rem 0 0 0 !important;
            h1{
                
                font-size: 2.8rem !important;
             }
             h2{
                 font-size: 2.7rem;
              
             }
             p{
              margin-top:1rem ;
              padding-right: 1rem !important;
              font-size: 1.1rem;
             }
             button{
                border-radius: 50px;
                padding: 7px 28px;
                font-weight: 700;
                }
          }
    }

    .second{
        h1{
         margin-bottom: 1.3rem !important;
         font-size: 2.7rem;
        }
        p{
         padding-right: .8rem !important;
         line-height: 1.8rem;
         font-size: 1.1rem;
        }
    }
    // Third section
    .third{
        .text{
          margin: 2rem 0;
              h1{
         font-size:2.4rem !important;
          }
        }
        .item1{
            color: white;
            margin-bottom: 4rem;
           h1{
             font-size: 3rem;
           }
       }
    }
    
    // Fourth section
    .four{
        .lft{
            h1{
                font-size: 2.3rem;
                margin: 1.7rem 0;
            }
        }
    .right-icons{
        span{
         font-size: 1.1rem;
        }
        button{
            border-radius: 50px;
            padding: 5px 20px;
            margin-left: .4rem;
            font-size: 1.1rem;
        }
    }
    }
    
    .boxes{
        padding-bottom: 3rem;
        .item1{
           margin-top: 1.5rem;
           padding: 0 0 10px 20px ;
           .photo{
           width: 100%;
           height: 70%;
           }
           h1{
    
            font-size:1.3rem ;
            margin-top: .6rem;
           }
           
           .btn-1{
            padding: 5px 10px;
            margin-top: .8rem;
            font-size: .9rem;
           }
           .btn-2{
            font-size: .9rem;
            padding: 4px 10px;
            margin-left: .1rem;
         
           }
        }
    }   
    .foot{
        padding-top: 2rem;
        .social-media{
            width: 100%;
            .bottom{
                margin-top: .3rem;
                p{
               margin-right: 1rem;
                }
            }
            h1{
                font-size: 2rem !important;
                margin-bottom: .9rem;
            }
            a{
                text-decoration: none;
                font-size: 1rem;
                padding: 0 10px;
                &:nth-child(5){
                    border: none !important;
                }
                
            }
            .zero{
                padding-left: 0;
            }
        }
        .rght{
                align-items: flex-end;
            a{
                font-size: 1.1rem;
                text-decoration: none;
            }
        }
    }
    
    
}


//568 to 768
@media (min-width:568px) and (max-width:767px) {
    .social-media{
        h1{
            font-size: 2rem !important;
        }
    }
    .rght{
        display: flex ;
        align-items: flex-start !important;
}
}

// 568 XSMALL DEVICES
 @media (max-width:568px){
    .four{
        .lft{
            h1{
                font-size: 2.8rem;
                margin: 1.7rem 0;
            }
        }
    .right-icons{
        span{
         font-size: 1rem;
        }
        button{
            border-radius: 50px;
            padding: 5px 18px;
            margin-left: .3rem;
            font-size: .8rem;
        }
    }
    }
    .boxes{
        padding-bottom: 3rem;
        .item1{
           margin-top: 1.5rem;
           padding: 0 0 10px 20px ;
           h1{
               font-size: 1.5rem;
           }
           span{
               font-size: 1.1rem;
           }
           .btn-1{
            padding: 5px 10px;
            margin-top: .8rem;
            font-size: 1.1rem;
            font-weight: 600;
           }
           .btn-2{
            font-size:1.1rem;
            padding: 4px 10px;
            margin-left: .4rem;
           font-weight: 600;
           }
        }
    } 
    .second p{
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    .rght{
        align-items: flex-start !important;
    }
 }

